@import url("https://fonts.googleapis.com/css?family=Bebas+Neue:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/*--------------------------Front page*/

.wrapper {
  height: 100vh;

  background: url("../images/trunk.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.wrapper {
  text-align: center;
}

.front-page-info {
  top: 160px;
  right: 100px;
  text-align: center;
  position: absolute;
}

div.front-page-info-text-uppercase {

text-align: center;

}

/*--------------------------Photo page*/

.photos-header {

    text-align: center;
    position: relative;
}

ul.navbar-photo {
margin: 0 auto;


}

/*--------------------------General*/

hr {

    border-top: 2px solid rgba(129, 129, 129, 0.5);
    width: 50%;
    margin: 0 auto;
}



/*--------------------------Navbars*/

nav.navbar.navbar-expand-sm {

    padding: 0;
}
.navbar-nav.nav-front {

    margin: 0 auto;
}

nav a:hover {

    color: #91B051;
}

nav.navbar.navbar-expand-sm {

    padding: 0;
}




/*--------------------------colors*/

.wrapper h1 {
  color: #DEF9DB;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 7px;
  margin-bottom: 0px;
}

.photography-font {
  color: #fff;
  font-size: 20px;
  letter-spacing: 2px;
  margin: 0px;
}

li>.nav-link {
color: #FFFFFF;
font-weight: 400;
font-size: 20px;
}

.social i {

    color: #ABCCA9;
    font-size: 30px;
    padding: 0 10px;
    margin-top: 10px;
}

h1.name {

  color: #5CB04D;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 7px;
  margin: 15px 0 0 0;

}

p.photography {

   color: #1E1D1D;
   letter-spacing: 2px;
   margin: 0 0 7px 0;
}

li>.nav-link.photopage {

color: #818181;

}



@media (max-width: 900px) {
  .wrapper {
    background: url("../images/trunk.jpeg") no-repeat center center fixed;
    position: relative;
  }

  div {
    
    width: 100%;
    height: 100%;
   
  }

  .front-page-info {
      margin-top: 60px;
    padding: 0px;
    text-align: center;
    top: 10px;
    left: 5px;
    display: inline-block
}
.front-page-info nav {

    display: inline;
}

ul.navbar-nav.nav-front {
margin: 0;
}

.navbar-expand-sm .navbar-nav {

flex-direction: column;
}

  .social i {

    color: #DEF9DB;;
     
     }

     .social {
     margin-right: 10px;

    }