/*--------------------------Fonts*/

@import url("https://fonts.googleapis.com/css?family=Bebas+Neue:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700|Shadows+Into+Light:100,200,300,400,500,600,700");

/*--------------------------Body*/

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/*--------------------------Index page page*/

.wrapper {
  height: 100vh;

  /*--------------------------Index page background code from https://css-tricks.com/perfect-full-page-background-image/*/
  background: url("../images/trunk.jpeg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 1;
}

.front-page-info {
  top: 160px;
  right: 100px;
  position: fixed;
}

.overlay {
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;
  max-width: 100vw;
}

/*--------------------------Index page header*/

.wrapper h1 {
  color: #def9db;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 7px;
  margin-bottom: 0px;
}

.photography-font {
  color: #fff;
  font-size: 20px;
  letter-spacing: 2px;
  margin: 0px;
}

/*--------------------------Index nav/social*/

li > .nav-link {
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
}

.social i {
  color: #abcca9;
  font-size: 30px;
  padding: 0 10px;
  margin-top: 10px;
}

/*--------------------------About page*/

/*--------------------------About page About Me background*/

.about-me-wrapper {
  height: 30%;
}

.about-me-container {
  background: url("../images/elephant-eye2.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  margin: 70px auto 70px;
  z-index: 1;
}

.overlay-about {
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  z-index: 2;
}
/*--------------------------About page About Me text*/

.heading-about-me {
  margin: 30px 0 20px;
  font-size: 40px;
  letter-spacing: 2px;
  color: #def9db;
  font-weight: 300;
}

.my-story {
  color: #fff;
  font-size: 20px;
  padding: 0 10%;
  font-style: italic;
  font-weight: 300;
}

.signature {
  margin: 20px 0 40px;
  color: #fff;
  font-family: "Shadows Into Light", sans-serif;
  font-size: 40px;
  letter-spacing: 1px;
}

/*--------------------------Photo page*/

p.photopage-thumbnails {
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 1px;
  color: #5cb04d;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 20px;
}

.thumbnails {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

p.photopage-thumbnails:hover {
  color: #818181;
}

/*--------------------------Image slider*/

/*--------------------------Carousel taken from bootstrap*/

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 40px;
  height: 40px;
  color: #ffffff;
}

div#carouselExampleControls.carousel.slide {
  width: 80%;
  margin: 90px auto 35px;
}

/*--------------------------Thumbnails page*/

.thumbnails {
  margin-top: 50px;
  margin-bottom: 50px;
}

/*--------------------------Thumbnail layout from https://www.w3schools.com/howto/howto_css_thumbnail.asp*/

.thumbnail-image {
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.thumbnail-image:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

/*--------------------------Contact page*/

div.container.contact-newsletter-form {
  margin-top: 50px;
  margin-bottom: 0px;
  background-color: rgba(129, 129, 129, 0.2);
  text-align: center;
  width: 90%;
}

.contact-image {
  margin: 70px auto 0;
  width: 90%;
}

.contact-form-wrapper {
  border: solid 1px rgba(129, 129, 129, 0.5);
  margin: 50px auto;
  text-align: center;
}

.contact-form-header {
  font-size: 35px;
  letter-spacing: 2px;
  font-weight: 400;
  color: #5cb04d;
  margin: 30px 0 20px;
}

/*--------------------------Responsive form taken from https://www.w3schools.com/howto/howto_css_responsive_form.asp*/

.contact-form-details {
  width: 80%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input.submit-contact {
  height: 40px;
  width: 100px;
  margin: 15px 10px;
  background-color: #5cb04d;
  color: white;
  display: inline;
}

div.submit-div {
  display: inline-block;
}

.container {
  border-radius: 5px;
  padding: 20px;
}

.col-25 {
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/*--------------------------General*/

.general-header {
  text-align: center;
}

h1.name {
  color: #5cb04d;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 7px;
  margin: 15px 0 0 0;
}

hr {
  border-top: 2px solid rgba(129, 129, 129, 0.5);
  width: 60%;
  margin: 0 auto;
}

.social-general {
  text-align: center;
  font-size: 30px;
  margin: 30px 0 10px;
}

.social-general i {
  color: #0e9900;
}

li {
  display: inline;
}

.copyright {
  text-align: center;
  margin-bottom: 10px;
  color: #818181;
  font-weight: 300;
}

a:hover {
  text-decoration: none;
}

p.photography {
  color: #1e1d1d;
  letter-spacing: 2px;
  margin: 0 0 7px 0;
}

/*--------------------------Navbars*/

nav.navbar.navbar-expand-sm {
  padding: 0;
  display: inline-block;
}

.navbar-nav.nav-front {
  margin: 0 auto;
}

nav a:hover {
  color: #91b051;
}

li > .nav-link.general {
  color: #818181;
}

li > .nav-link.general:hover {
  color: #91b051;
}

/*--------------------------Newsletter form*/

div.container.newsletter-form {
  margin-top: 50px;
  margin-bottom: 0px;
  background-color: rgba(129, 129, 129, 0.2);
  text-align: center;
  width: 90%;
}

.newsletter-header {
  font-size: 35px;
  font-weight: 400;
  color: #5cb04d;
  letter-spacing: 2px;
}

.newsletter-paragraph {
  font-size: 16px;
  color: #818181;
}

form.form-inline {
  display: inline;
}

.newsletter-form {
  padding-bottom: 30px;
}

.newsletter-info {
  height: 40px;
  margin: 0 10px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  padding-left: 8px;
  letter-spacing: 1px;
  color: #6f6f6f;
}

.newsletter-info::placeholder {
  color: #d5d2d2;
}

input.newsletter-submit {
  height: 40px;
  width: 100px;
  margin: 0 10px;
  background-color: #5cb04d;
  color: white;
}

#email {
  width: 250px;
}
/*--------------------------media responsiveness*/

@media (max-width: 900px) {
  /*-------------------------- m.responsive Index */

  .wrapper {
    background: url("../images/trunk.jpeg") no-repeat center center fixed;
  }

  div {
    width: 100%;
    height: 100%;
  }

  .front-page-info {
    margin-top: 35px;
    padding: 0px;
    text-align: center;
    top: 10px;
    left: 5px;
    display: inline-block;
    position: fixed;
  }

  .front-page-info nav {
    display: inline;
  }

  .social i {
    color: #def9db;
  }

  /*-------------------------- m.responsive general */

  h1.name {
    margin-top: 20px;
  }

  ul.navbar-nav.nav-front {
    margin: 0;
  }

  .navbar-expand-sm .navbar-nav {
    flex-direction: column;
  }

  .navbar-general {
    margin-bottom: 10px;
  }

  .social {
    margin-right: 10px;
  }

  li > .nav-link.general {
    color: #818181;
    display: inline;
    margin: 0 auto;
    padding: 0;
  }

  /*-------------------------- m.responsive about me */

  .about-me-container {
    margin: 30px 0;
  }

  /*-------------------------- m.responsive photopage */

  div#carouselExampleControls.carousel.slide {
    width: 90%;
    margin: 50px auto 20px;
  }

  .newsletter-form input {
    margin: 5px;
    float: none;
  }

  p.photopage-thumbnails {
    text-align: center;
    margin: 0 0 15px;
    padding-bottom: 1px;
    color: #5cb04d;
    letter-spacing: 1px;
    font-size: 20px;
  }

  .thumbnails {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  /*-------------------------- m.responsive thumbnail page */

  .thumbnail-media {
    display: inline-block;
  }

  /*-------------------------- m.responsive newsletter */

  div.container.newsletter-form {
    margin-top: 30px;
  }

  /*-------------------------- m.responsive contact page */

  .contact-image {
    margin: 30px auto 0;
  }

  .contact-form-wrapper {
    margin: 30px auto;
    padding: 0;
  }

  p.contact-form-info {
    margin: 0 15px;
  }

  .container.contact-form-container {
    padding: 0;
  }

  .col-25,
  .col-75 {
    width: 100%;
    margin-top: 0;
  }
}

@media (max-width: 812px) {
  /*-------------------------- m.responsive contact form */

  div.col-75 {
    margin-left: 25px;
  }
}

@media (max-width: 760px) {
  .contact-image {
    display: none;
  }

  /*-------------------------- m.responsive newsletter form on contact page */

  div.container.contact-newsletter-form {
    display: none;
  }
}
