@import url("https://fonts.googleapis.com/css?family=Bebas+Neue:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/*--------------------------Front page*/

html {
  height: 100vh;

  background: url("../images/trunk.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.wrapper {
  text-align: center;
}

.front-page-info {
  top: 160px;
  right: 100px;
  text-align: center;
  position: absolute;
}

/*--------------------------Navbars*/

.navbar-nav {
    
padding-left: 30px;


}


/*--------------------------colors*/

.wrapper h1 {
  color: #DEF9DB;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 7px;
  margin-bottom: 0px;
}

.photography-font {
  color: #fff;
  font-size: 20px;
  letter-spacing: 2px;
  margin: 0px;
}

li>.nav-link {
color: #FFFFFF;
font-weight: 400;
font-size: 20px;
}

/*--------------------------social*/

.social i {

    color: #ABCCA9;
    font-size: 30px;
    padding: 0 10px;
}



@media (max-width: 750px) {
  html {
    background: url("../images/trunk.jpeg") no-repeat center center fixed;
    position: relative;
  }

  div {
    width: 100%;
    height: 100%;
  }

  .front-page-info {
    padding: 0px;
    text-align: center;
    top: 10px;
    left: 5px;
    display: inline;
  }

  a.nav-link {
    padding: 0;
    text-align: center;
}

}

 
}
